<html lang="en">
<head>
    <title>HW01</title>
    <style>table,th,td{
        border:1px solid brown;
        border-collapse: collapse;
    }th,td{
        padding: 10px;
    }
    </style>
</head>
<body>
    <h1>My Profile</h1>
    <p>Profile tells about Name Birthday Faculty and Favorite Sport</p>
    <img src="./myprofile.JPG" alt="my profile" width="400px" height="500px">
    <table>
        <tr>
            <th>Name Surname</th>
            <td>Chotipat Assawapayukul</td>
        </tr>
        <tr>
            <th>Birthday</th>
            <td>14 May 2002</td>
        </tr>
        <tr>
            <th>Faculty</th>
            <td>Computer Engineering</td>
        </tr>
        <tr>
            <th>Favorite Sport</th>
            <td>Football</td>
        </tr>
    </table>
</body>
</html>